
@media (max-wkdth:450px){
    html{
        font-size: 50%;
    }
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
  }

  
  /* Style header */
header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(110, 0, 0, 0.8) , rgba(16, 0, 74, 0.8));
    padding: 30px 10%;
    
  }
  
header img{
    border-radius: 50%;
    height: 10rem;
    order: 3;
    margin-left: auto;
}
nav{
    order: 1;
}
li a button{
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav_links{
    position: relative;
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(255, 255, 255);
}
.box{
    order: 2;
}
button{
    margin-top: 20px;
    padding: 9px 25px;
    background-color: rgba(0,0,87,0.7);
    display: inline-block;
    font-size: 1.7rem;
    border: none;
    border-radius: 20px ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.8);
}

.box{
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 20px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 30px;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    border: none;
    outline: none;
    transition: .8s;
    background: transparent;
}
.box a .fa{
    color: red;
    font-size: 18px;
}

/*MAIN BODY*/
/*home*/
.home{
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding: 10%;
}
.home .content h3{
    text-align: center;
    color: white;
    font-size: 6em;
}
/*about us*/
.aboutus{
    background-image: linear-gradient(rgba(110, 0, 0, 0.8) , rgba(16, 0, 74, 0.8));
    padding: 30px;
}
.heading{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 4em;
}
.heading span{
    color: rgb(255, 255, 255);
}
.aboutus .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.aboutus .row .image{
    height: 400px;
    max-width: 600px;
    margin-right: 50px;
}
.aboutus .row .image img{
    border-radius: 16px;
}
.aboutus .row .content2{
    max-width: 400px;
}
.aboutus .row .content2 h3{
    color:rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 500;
}
.aboutus .row .content2 p{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;    
}
.aboutus .row image{
    flex: 1 1 45rem;
}
.aboutus .row .image img{
    width: 100%;
}
.aboutus .row .content2{
    flex:1 1 45rem;
    padding: 2rem;
}
.aboutus .row .content2 h3{
    font-style: bold;
}
.aboutus .row .content2 h2{
    color: white;
}
.aboutus .row .content2 a button{
    color: white;
    font-size: 1.5rem;
}

.heading a{
    color: white;
}
@media (max-width: 700px){
    .aboutus .row .content2 h3{
        text-align: center;
        padding: 10px;
    }
    .aboutus .row .content2 h2{
        text-align: center;
        padding: 10px;
    }
}
/*--FOOTER Section--*/
@media (max-width: 700px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}
.footer{
    background-image: linear-gradient(rgba(252, 0, 0, 0.8) , rgba(16, 0, 74, 1));
}
.footercontainer{
    width: 100%;
    padding:20px;
}
.socialmedia{
    display: flex;
    justify-content: center;
}
.socialmedia a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 50%;
}
.socialmedia a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialmedia a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialmedia a:hover i{
    color: white;
    transition: 0.5s
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footerNav ul li a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1.5rem;
}
.footerBottom p{
    color: white;
}
.designer{
    cursor: pointer;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.news{
    background: black;
    padding: 10%;
}
.new{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 20px;
}
.grid-container{
  background-color:rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1.5re,;
  text-align: center;
}
.grid-container .image2 img{
    width: 300px;
    height: 200px;
}
.grid-container button{
    color: white;
}